

.dropdown:hover>.dropdown-menu{display: block;}
.dropdown-toggle::after { 
            content: none; 
        }




.vertical_line_1{ float: left; width: 2px;height: 30px;background-color: silver; }	
.vertical_line_2{ float: left; width: 520px;height: 2px;background-color: silver;margin-top: 15px; }	
.vertical_line_3{ float: right;width: 2px;height: 30px;background-color: silver; }	
.vertical_line_4{ float: right;width: 520px;height: 2px;background-color: silver;margin-top: 15px; }   



     
