.Navigation{
    margin-bottom: 20px;

}

.Brand{
    color: white;
    font-size: 15px;
    margin-top: -20px;

}


.NavLink{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -25px;
    margin-left: 10px;


}

.NavLink:hover{
    color: wheat;
    text-decoration: none;
}

.active {
    text-shadow: 1px 1px gray;
    color: wheat;

}