*{
	margin: 0px;
	padding: 0px;
}


.dropdown:hover>.dropdown-menu{ display: block; background-color: #fd7003;color: white; }
.dropdown:hover { background-color: #fd7003;margin: 0px; padding: 0px; }





/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.navigation-list{ list-style: none;
				  text-decoration: none;
				 text-align: left;
				  display: flex;
				  flex-direction: row;}


.navigation-item a {text-decoration: none; color: white;margin-left: 15px;}
.navigation-item li {margin-top: 50px;}


/*.navigation-iteam a:hover{color: #212529;}
.navigation-iteam a:active{color: #212529;}*/

/*.wsa p {width: 350px;font-size: 16px;*/

		/*margin: 80px 100px 20px 0px;*/  }	


.circle-icon {
    /*background: #ffc0c0;*/
    padding:10px;
    margin-left: 20px;
    /*border-radius: 50%;*/
}


