
.waw{
	border: 5px solid #fff;
	background-color: red;
	/*width: 1300px;*/
	background-color: black;"
}






.bra-img{
	float: left;
	width: 400px;color: white;
	/*height: 400px;*/
	/*overflow: hidden;*/

}


.texts{
	width: 900px;
	float: left;
	display: inline-block;
}







.main-div {
	display: block;
	background-color: black;
	overflow: visible;
	margin: 25px 0px 25px 0px;
}




.a{
	float: left;
	width: 350px;
	margin-left: 20px;
	/*display: inline-block;*/
	background-color: red;
}

.b{
	float: left;
	width: 350px;
	margin-left: 25px;
	/*display: inline-block;*/
	background-color: blue;
}

.c{
	float: left;
	width: 350px;
	margin-left: 25px;
	/*display: inline-block;*/
	background-color: yellow;
}

.d{
	float: left;
	width: 350px;
	margin-left: 25px;
	/*display: inline-block;*/
	background-color: green;
}












