{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %} Create New Account {% endblock %}
{% block body_block %}
{% if registered %}
<div class="alert alert-success">
  Account Created Successfully! <a href="#">Login here</a>
</div>


{% else %}
<h2>Create New Account </h2>

<form  method="POST">
  {{ form|crispy }}
  {% csrf_token %}
  <button type="submit" name="button" class="btn btn-success btn-sm"> Create Account </button>

</form>

<br>
<p>Already have an account <a href="{% url 'App_Login:login' %}">Login here </a> </p>



{% endif %}
{% endblock %}
