h2 {
	text-align: center;
}
p.border1 {
	/* border-style: ; */
	/* border-width: ; */
	/* border-color: ; */
	
	border: 5px solid green;
}
.border2 {
	border-bottom: 5px solid red;
	border-left: 10px solid green;
}
p.radius {
	border: 5px solid rgba(142, 68, 173,1.0);
	border-radius: 10px;
}

/* margin-top / margin-bottom / margin-right / margin-left */
div.margin {
	border: 2px solid black;
	/* margin-top: ; */
	/* margin-left: ; */
	/* margin-right: ; */
	/* margin-bottom: ;   */
	
	margin: 50px 100px;
}
.pd {
	border: 1px solid red;
	padding: 20px 50px 40px;
}

/*box model */

.box {
	width: 300px;
	padding: 0 20px;
	border: 2px solid green; 
}
.box2 {
	width: 300px;
	padding: 0 20px;
	border: 2px solid red;
	box-sizing: border-box;
}
.para {
	border: 5px solid red;
	border-radius: 4px;
}
.margin-top {
	margin-top: 200px;
}

div.text {
	color: green;
	background-color: yellow;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}

.right {
	text-align: right;
}
.justify {
	text-align: justify;
	margin-bottom: 30px;
}

/* text-decoration: none / underline / overline / line-through */
.decoration {
	text-decoration: line-through;
}
a {
	text-decoration: none;
}

/* text-transform: uppercase / lowercase / capitalize */

div.transform {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.space {
	letter-spacing: 5px;
}
.word {
	word-spacing: 10px;
	margin-bottom: 20px;
}
.line {
	line-height: 1.8;
	text-indent: 100px;
	margin-bottom: 20px;
}
.white {
	white-space: wrap;
}












